* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Open Sans', 'Constantia', Arial, sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-size: 14px;
  line-height: 1.4;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
img {
  max-width: 100%;
  vertical-align: top;
  height: auto;
}
@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.btn {
  background: #fcb714 none repeat scroll 0 0;
  border-radius: 12px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  padding: 18px 23px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border:  none;
  cursor: pointer;
  &:hover {
    background: #ff9e04;
  }
}