.excursions-item {
  position: relative;
  width: calc(33.33% - 34px);
  &__footer {
    background: transparent url("../../../assets/images/bg_shadow_e.png") repeat-x scroll center bottom;
    bottom: 0;
    color: #fff;
    height: 151px;
    left: 0;
    position: absolute;
    width: 100%;
    padding: 0 25px 30px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    .link {
      font-weight: 600;
      font-size: 18px;
      color: #FFF;
      text-decoration: none;
      padding-right: 30px;
      &:hover {
        text-decoration: underline;
      }
    }
    .price {
      color: #fcb714;
      font-weight: bold;
      font-size: 22px;
      flex-shrink: 0;
    }
  }
}

@media (max-width: 1230px) {
  .excursions-item {
    width: calc(50% - 25px);
    &__image {
      width: 100%;
    }
  }
}

@media (max-width: 767px)  {
  .excursions-item {
    width: 100%;
  }
}